*{
    box-sizing: border-box;

}
body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    background-color: #DCE0E0;
}

/* Menu start */
#menu{
    height: 80px;
    padding: 0 20px;
}
#logo{
    font-size: 30px;
    line-height: 80px;
    color: #44878B;
    float: left;
    font-weight: bold;
    cursor: pointer;
}
nav{
    float: right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #44878B;
}
nav a:hover{
    color: #A1775C;
    border-bottom: 2px solid #A1775C;
}
nav a:visited{
    color: #A1775C;
    border-bottom: 2px solid #A1775C;
}
.icon{
    margin-right: 7px;
    font-size: 16px;
}
/* Menu end */

/* Banner start */
#banner{
    position: relative;
    background-image: url(img/software1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}
#content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
#banner h2{
border-bottom: 1px solid white;
width: 150px;
}
/* Banner end */

/* AboutUs start */

#aboutUs{ 
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
#aboutUs h3{
    font-size:55px;
    color: #44878B;
    text-shadow: 0px 1px #44878B;
    font-weight: bold;
}
.container{
    width: 1200px;
    height: auto;
    margin: auto;
}
#leftPanel{
    float: left;
    border-right: 2px solid #000;
    font-size: 30px;
    width: 400px;
    color: #000;
}
#h4left{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
#h4left, #rightPanel{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
#rightPanel{
    float: right;
    width: 750px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
}
.img-fluid{
    max-width:100%;
    height: auto;
}
.mt100{
    margin-top: 100px;
}
#pEnd{
    color: #000;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
}
/* Aboutus end */

/* Educations Start*/

#educations{
    padding: 50px;
    text-align: center;
    height: 700px;
}
#educations h3{
    font-size:55px;
    color: #44878B;
    text-shadow: 0px 1px #44878B;
    font-weight: bold;
}
.card{
    width: 320px;
    height: 350px;
    border: 1px solid #A1775C;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}
.card:hover{
    border: 2px solid #61391F;
}
.titleCard{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.cardp{
    color: #000;
    font-weight: bold;
}
/* Education end */

/* Team start */
#team{
    background-color: #A1775C;
    padding: 50px;
    height: 800px;
    text-align: center;
}
#teamh3{
    font-size:55px;
    color: #fff;
    text-shadow: 0px 1px #44878B;
    font-weight: bold;
}
.left-right{
    width: 385px;
    float: left;
    padding: 50px;
}
.oval{
    border-radius: 50%;
}
.teamName{
    color: white;
    font-size: 25px;
    margin-bottom: 12px;
}
.teamp{
    color: #fff;
    font-weight: bold;
}
.social{
    color: #fff;
    border: 1px solid #61391F;
    padding: 10px;
    width: 50px;
    border-radius: 40%;
    margin: 5px 10px;
}
.social:hover{
    background-color: #61391F;
}
.middle{
    width: 385px;
    float: left;
    padding: 40px;
}
/* Team end */

/* communation start */
#communication{
    background-color: #44878B;
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;

}
#communication h3{
    font-size:55px;
    color: #DCE0E0;
    text-shadow: 0px 1px #44878B;
    font-weight: bold;
}
#opaque{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    height: 550px;
}
#formGroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}
#leftForm{
    width: 50%;
    float: left;
    padding-right: 10px;
}
#rightForm{
    width: 50%;
    float: right;
    padding-left: 10px;
}
.form-control{
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #61391F;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    border: 2px solid #61391F;
    border-radius: 5px;
}
.inputBtn{
margin-left: 10px;
margin-top: 10px;
}
#address{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
    text-align: center;
    font-weight: bold;
    
}